// Reusable variables
$primary-color: #605DEC;
$secondary-color: #344293;
$background-color: #FFFFFF;
$text-color: #333;
$border-color: #E4E4EF;
$font-family: 'Inter, sans-serif';

$spacing-unit: 8px;
